[submodule "dlplan"]
	path = planner/dlplan
	url = git@github.com:rleap-project/dlplan.git
[submodule "planner/LAPKT-SIWR/libs/dlplan"]
	path = planner/LAPKT-SIWR/libs/dlplan
	url = git@github.com:rleap-project/dlplan.git
